@using InterfaceWEBHealthcare.Models.Treatments;
@model List<Prescription>;
@{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
    ViewData["Title"] = "Privacy Policy";
}


<table class="table table-bordered" id="tblDataTable">
    <thead class="thead-light">
        <tr>
            <th scope="col">Prescription Id</th>
            <th scope="col">Appoinment Date</th>
            <th colspan="2" class="text-md-center">Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="trData">
                <th scope="row"><span class="pd-PrescriptionID">@item.PrescriptionID</span></th>
                <td><span class="pd-CourseCode">@item.PrescriptionDate</span></td>
                <td>
                    <button type="button" class="btnEdit btn btn-danger btn-sm" onclick="location.href='@Url.Action("MedicineList","Home",new { GetPrescriptionID = item.PrescriptionID })'">View Medicine</button>
                </td>
                <td>
                    <button type="button" class="btn btn-success btn-sm" @*onclick="location.href='@Url.Action("Delete", "Course",new { Id = item.CourseId })'"*@>Remove From List </button>
                </td>
            </tr>
        }
    </tbody>
</table>