
@{
    ViewData["Title"] = "Privacy Policy";
}

    <div class="col-md-8" style="line-height: 0.3">
        <table class="table table-bordered" id="dataTable" style="height:30px">
            @*<thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Course TypeCode</th>
                    <th scope="col">Status</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>*@
            <tbody>
                @*@foreach (var item in Model)
                {*@
                <tr>
                    <td rowspan="6"> <img src="..." class="card-img-top" alt="..." width="85" height="40"></td>
                </tr>
                <tr>
                    <td>
                        <label class="text-white" for="exampleFormControlInput1"><i class="fas fa-clinic-medical"></i> Email address : XXXXXXXXXXXXXXXXX</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><label for="exampleFormControlInput1">Emai</label></span>
                        <span><label for="exampleFormControlInput1">Emai</label></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><label for="exampleFormControlInput1">Emai</label></span>
                        <span><label for="exampleFormControlInput1">Emai</label></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><label for="exampleFormControlInput1">Emai</label></span>
                        <span><label for="exampleFormControlInput1">Emai</label></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><label for="exampleFormControlInput1">Emai</label></span>
                        <span><label for="exampleFormControlInput1">Emai</label></span>
                    </td>
                </tr>
                @*}*@
            </tbody>
        </table>

    </div>
        