
@{
    ViewData["Title"] = "Home Page";
    var data = ViewBag.Message;
}


        <div class="card border-primary mb-3 align-content-center">
            <div class="card-header text-primary">
                <center> <h5 class="card-title">Find Best Hospital</h5></center>
            </div>
            <div class="card-body text-primary">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1">Location Type : </label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">Select Location</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">Current Location</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1">Select Location</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control" name="cars" id="cars">
                                <option value="volvo">Homagama</option>
                                <option value="saab">Hgama</option>
                                <option value="mercedes">Homa</option>
                                <option value="audi">ama</option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-4 align-content-between">
                            <button type="button" class="btn  btn-sm btn-outline-primary " style="width:220px">Primary</button>
                        </div>
                    </div>
                </div>
                <div class="card-group">
                    <div class="card">
                        @*<img src="..." class="card-img-top" alt="...">*@
                        <div class="card-body text-light bg-info">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        @*<img src="..." class="card-img-top" alt="...">*@
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        @*<img src="..." class="card-img-top" alt="...">*@
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
